<!DOCTYPE html>
<html>
<head>
	<title>Backlink Checker</title>
	{% include '/components/meta.html.j2' %}
	<style>
        {% include 'backlinkchecker/style.css' %}
	</style>
</head>
<body>
	{% include '/components/header.html.j2' %}

    <h1 class="boilerplateMessage">Welcome to Backlink Checker.</h1>

    <script>
        {% include 'backlinkchecker/main.js' %}
    </script>
  	
  	{% include "/components/footer.html.j2" %}
</body>
</html>
