@font-face {
  font-family: sanspro;
  src: url(Source_Sans_Pro/SourceSansPro-Regular.ttf);
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: sanspro;
}
header {
  background-color: #fce8e8;
  color: #666;
  padding: 13px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-brand a {
  color: #666;
  font-size: 24px;
  text-decoration: none;
}
.navbar-nav {
  display: flex;
  list-style: none;
}
.nav-item {
  margin-right: auto;
  padding: 20px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-item a {
  color: #666;
  text-decoration: none;
  font-size: 15px;
}







footer {
  background-color: #fce8e8;
  bottom: 0;
  font-size: 14px;
  padding-block: 20px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
.left {
  flex-basis: 25%;
  padding: 0 30px;
}
.right {
  flex-basis: 75%;
  display: flex;
  justify-content: flex-end;
  padding: 0 30px;
}
.right a {
  margin-left: 50px;
  color: #666;
  text-decoration: none;
}
.right a:hover {
  color: #333;
}