@font-face {
  font-family: sanspro;
  src: url(Source_Sans_Pro/SourceSansPro-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sanspro;
}
header {
  background-color: #fce8e8;
  color: #666;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-brand a {
  color: #666;
  font-size: 24px;
  text-decoration: none;
  padding-left: 40px;
}
.navbar-nav {
  display: flex;
  list-style: none;
}
.nav-item {
  margin-right: auto;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-item a {
  color: #666;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 40px;
}

ul li {
  display: inline-block;
  position: relative;
}
ul li a {
  display: block;
  text-align: center;
}
ul li ul.dropdown li {
  display: block;
}
ul li ul.dropdown {
  min-width: 200px;
  background-color: white;
  position: absolute;
  z-index: 99;
  display: none;
}
ul li:hover {
  background-color: pink;
}
ul li:hover ul.dropdown {
  display:block;
}



footer {
  background-color: #fce8e8;
  bottom: 0;
  font-size: 16px;
  padding-block: 20px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
.left {
  flex-basis: 25%;
  padding: 0 30px;
}
.right {
  flex-basis: 75%;
  display: flex;
  justify-content: flex-end;
  padding: 0 30px;
}
.right a {
  margin-left: 50px;
  color: #666;
  text-decoration: none;
}
.right a:hover {
  color: #333;
}