<!DOCTYPE html>
<html>
<head>
	<title>{{pageTitle}}</title>
	{% include "/components/meta.html.j2" %}
    <link rel="stylesheet" href="/static/css/generaltool.css">
	<style>
        {% include "blogtitlegenerator/style.css" %}
        .column {
            width: 47%;
            display: inline-block;
        }
	</style>
</head>
<body>
	{% include '/components/header.html.j2' %}

    <div class="borderContainer bannerContainer">
        <h1 class="toolTitle">{{pageTitle}}</h1>
        <p class="toolDescription">
        {{pageTitle}} is the perfect tool for you.
        </p>
    </div>

    <div class="borderContainer toolContainer">
    <div class="row">
        <div class="column">
            <label for="topicInput">What is the topic of your blog?</label>
            <input id="topicInput" type="text" placeholder="Enter Text Here">
        </div>
        <div class="column" style="margin-left: 28px;">
        <label for="cars">How many ideas do you want?</label>
        <select name="cars" id="numberOfIdeas">
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
        </select>
        </div>
    </div>

        <label for="mainPoints">What are the main key points of your blog?</label>
        <textarea id="mainPoints"></textarea>
        <label>Verify your captcha before proceeding</label>
        {% include '/components/captcha.html.j2'%}
        <button onclick="blogTitle()">Submit</button>
    </div>

    <div class="borderContainer toolContainer">
    <h2>Blog Title Ideas</h2>
    <textarea id="textOutput" readonly></textarea>
    </div>
    <script src="/static/js/general.js"></script>
    <script>
        {% include "blogtitlegenerator/main.js" %}
    </script>
  	
  	{% include "/components/footer.html.j2" %}
</body>
</html>
