<!DOCTYPE html>
<html>
<head>
	<title>404</title>
	{% include '/components/meta.html.j2' %}
	<style>
        {% include 'testsite/style.css' %}
	</style>
</head>
<body>
	{% include '/components/header.html.j2' %}

    <h1 class="boilerplateMessage">Welcome to Test Site.</h1>

    <script>
        {% include 'testsite/main.js' %}
    </script>
  	
  	{% include "/components/footer.html.j2" %}
</body>
</html>
