.borderContainer {
    border-radius: var(--border-large);
    border: 2px solid var(--secondary-mark);
    max-width:1000px;
    margin: 20px min(10%, 120px);
    padding: 50px;
    background-color: var(--primary);
}
.borderContainer h2 {
    font-size: 30px;
}
.borderContainer p {
    font-size: 20px;
}
.bannerContainer {
    background-color: var(--primary-focus);
}
.toolTitle {
    font-size: 28px;
}
.toolContainer p {
    font-size: 22px;
    display: inline-block;
}
.toolContainer input[type="range"] {
    display: block;
    cursor: ew-resize;
}
.toolContainer input[type="checkbox"] {
    width: 22px;
    height: 22px;
    accent-color: var(--primary-focus);
    cursor: pointer;
}
.toolContainer input[type="text"] {
    border: 2px solid var(--primary);
    padding: 4px;
    outline: none;
    font-size: 20px;
    width: 100%;
    color: var(--secondary-text-focus);
    border-radius: var(--border-small)
}
.toolContainer textarea {
    border: 2px solid var(--primary);
    font-size: 18px;
    width: 100%;
    color: var(--secondary-text-focus);
    border-radius: var(--border-small);
    margin-block: 4px;
    outline: none;
    padding: 4px;
    resize: none;
}
.toolContainer .feedback {
    border: 2px solid var(--primary);
    padding: 4px;
    border-radius: var(--border-small);
    margin-block: 4px;
    color: var(--secondary-text);
    font-size: 18px;
}