@font-face {
    font-family: "sourcesanspro";
    src: url(/static/fonts/SourceSansProCompressed.woff2);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sourcesanspro;
    border: none;
}
:root {
    --primary: #ffffff;
    --primary-focus: #ffde4d;
    --primary-text: #5f5f5f;
    --primary-text-focus: #333333;
    --secondary: #ffffff;
    --secondary-text: #847a7a;
    --secondary-text-focus: #2d2c2c;
    --secondary-mark: #423705;
    --border-large: 10px;
    --border-small: 4px;
}
body {
    margin-bottom: 200px;
    background-color: #F4F4F4;
}