<!DOCTYPE html>
<html>
<head>
	<title>Word Counter</title>
	{% include "/components/meta.html.j2" %}
    <link rel="stylesheet" href="/static/css/generaltool.css">
	<style>
        {% include "wordcounter/style.css" %}
	</style>
</head>
<body>
	{% include '/components/header.html.j2' %}

    <div class="borderContainer bannerContainer">
        <h1 class="toolTitle">Word Counter</h1>
        <p class="toolDescription">
        This program will count the amount of words and characters in your text with ease.
        </p>
    </div>

    <div class="borderContainer toolContainer">
        <textarea id="inputText" placeholder="Enter Text Here"></textarea>

        <p>Count Spaces as Characters:</p>
        <input type="checkbox" checked="true" id="countSpaces">
        <br>

        <p class="feedback">
        Words: <span id="countWords"></span>
        Characters: <span id="countChars"></span>
        </p>
    </div>

    <script src="/static/js/general.js"></script>
    <script>
        {% include "wordcounter/main.js" %}
    </script>
  	
  	{% include "/components/footer.html.j2" %}
</body>
</html>
