<!DOCTYPE html>
<html>
<head>
	<title>{{pageTitle}}</title>
	{% include "/components/meta.html.j2" %}
    <link rel="stylesheet" href="/static/css/generaltool.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<style>
        {% include "longtailkeywordgenerator/style.css" %}
        #outputText {
            height: 200px;
            border: 1px solid yellow;
        }
	</style>
</head>
<body>
	{% include '/components/header.html.j2' %}

    <div class="borderContainer bannerContainer">
        <h1 class="toolTitle">{{pageTitle}}</h1>
        <p class="toolDescription">
        {{pageTitle}} is the perfect tool for you.
        </p>
    </div>
	{% include '/components/darkmode.html.j2' %}

    <div class="borderContainer toolContainer">
        <div class="column">
            <label for="keyword">Main keyword</label>
            <input type="text" id="keyword"></div>

            <div class="column" style="margin-left: 28px;">
            <label for="location">Country</label>
            <select id="location" name="location">
                <option value="" disabled selected>Select an option</option>
                <option value="en">USA</option>
            </select></div>

            <label for="result">Number of Results</label>
            <select id="result" name="result">
                <option value="" disabled selected>Select an option</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="70">70</option>
                <option value="100">100</option>
            </select>

            <button onclick="searchKeywords()">Search</button>

            <label for="output">Results</label>
            <ul id="outputText"></ul>
    </div>

    <script src="/static/js/general.js"></script>
    <script>
        {% include "longtailkeywordgenerator/main.js" %}
    </script>
  	
  	{% include "/components/footer.html.j2" %}
</body>
</html>
