<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	{% include '/components/meta.html.j2' %}
	<style>
        .notFoundMessage {
            color: var(--primary-text);
            margin: 40px;
            text-align: center;
        }
	</style>
</head>
<body>
	{% include '/components/header.html.j2' %}

    <h1 class="notFoundMessage">Coming Soon</h1>
  	
  	{% include "/components/footer.html.j2" %}
</body>
</html>