<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	{% include '/components/meta.html.j2' %}
	<link rel="stylesheet" href="/static/css/generaltool.css">
	<style>
		.cardContainer {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			margin-top: 15px;
		}
		.card {
			max-width: 400px;
			text-align: left;
			margin: 15px 0px;
			margin-right: 30px;
			padding: 15px;
			border: 1px solid var(--primary-text);
			border-radius: 5px;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
			transition: background-color 0.1s ease, box-shadow 0.3s ease;
			cursor: pointer;
			color: black;
		}
		.card:hover {
			background-color: var(--primary-focus);
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
		}
		.card img {
			max-width: 50px;
			height: auto;
			border-radius: 5px;
		}
		.card h2 {
			margin-top: 2px;
			font-size: 20px;
		}
		.card p {
			margin-top: 10px;
			font-size: 17px;
			color: var(--secondary-text);
			line-height: 1.5;
		}
		a {
			color: var(--primary-text);
			text-decoration: none;
		}
		h1 {
			font-size: 40px;
		}
	</style>
</head>
<body>
	{% include '/components/header.html.j2' %}
	
    <div class="borderContainer bannerContainer">
        <h1>Tool Box</h1>
        <p>For the best free tools online, Tool Box is the ultimate digital tools website. From free SEO tools to creating social media posts, find a complete set of tools at your fingertips!</p>
    </div>

	{% include '/components/darkmode.html.j2' %}
	<div class="container">
		<div class="borderContainer whiteContainer">
			<h2>Free SEO Tools</h2>
			<p>Improve your website's ranking and SEO strategies with our free SEO tools!</p>
			<div class="cardContainer">
				<div class="card">
				<a href="/tool/backlinkchecker">
				<img src="img1.jpg" alt="Card Image">
				<h2>Backlink Checker</h2>
				<p>Check your website's backlink within seconds with our backlink checker. Find broken links and total backlink volume!</p>
				</div>
				<div class="card">
				<a href="/tool/googlesearchtrend">
				<img src="img1.jpg" alt="Card Image">
				<h2>Google Search Trends</h2>
				<p>Find out what people are searching for on Google right now.</p>
				</div>
			</div>
		</div>
		<div class="borderContainer">
			<h2>Free Text Tools</h2>
			<p>Your text should be as unique as you. Use our free text tools to liven up your content!</p>
			<div class="cardContainer">
				<div class="card">
				<a href="/tool/fancytextgenerator">
				<img src="img1.jpg" alt="Card Image">
				<h2>Fancy Text Generator</h2>
				<p>Spice up your boring text with new fonts and styles! Check out 10 fancy fonts.</p>
				</div>
				<div class="card">
				<a href="/tool/wordcounter">
				<img src="img1.jpg" alt="Card Image">
				<h2>Word Counter</h2>
				<p>Easily check your word count with multiple settings as you type!</p>
				</div>
				<div class="card">
				<a href="/tool/plagiarismchecker">
				<img src="img1.jpg" alt="Card Image">
				<h2>Plagiarism Checker</h2>
				<p>Check for any plagiarism threats in text with the plagiarism checker.</p>
				</div>
				<div class="card">
				<a href="/tool/paraphraser">
				<img src="img1.jpg" alt="Card Image">
				<h2>Paraphraser</h2>
				<p>Rewrite old content into new and fresh one within seconds using the paraphraser.</p>
				</div>
				<div class="card">
				<a href="/tool/smalltextgenerator">
				<img src="img1.jpg" alt="Card Image">
				<h2>Small Text Generator</h2>
				<p>Easily copy paste any text and watch our small text generator decrease your font instantly.</p>
				</div>
				<div class="card">
				<a href="/tool/spellchecker">
				<img src="img1.jpg" alt="Card Image">
				<h2>Spell Check</h2>
				<p>Ready to publish your word? Rid your text from any spelling and grammar mistakes first!</p>
				</div>
				<div class="card">
				<a href="/tool/summarizer">
				<img src="img1.jpg" alt="Card Image">
				<h2>Summarizer</h2>
				<p>Summarize a longer text into an actionable and informative paragraph! </p>
				</div>
				<div class="card">
				<a href="/tool/citationgenerator">
				<img src="img1.jpg" alt="Card Image">
				<h2>Citation Generator</h2>
				<p>Create citations within seconds using the citation generator.</p>
				</div>
			</div>
		</div>
		<div class="borderContainer">
			<h2>Free AI Tools</h2>
			<p>The future is now and so is AI. Let our Free AI Tools do the work for you!</p>
			<div class="cardContainer">
				<div class="card">
				<a href="/tool/blogoutlinegenerator">
				<img src="img1.jpg" alt="Card Image">
				<h2>Blog Outline Generator</h2>
				<p>Put in the blog topic and watch the generator create a blog outline for your next post.</p>
				</div>
				<div class="card">
				<a href="/tool/aicontentdetection">
				<img src="img1.jpg" alt="Card Image">
				<h2>AI Content Detection</h2>
				<p>Detect AI content from any text with our GPT Content Detection tool.</p>
				</div>
				<div class="card">
				<a href="/tool/paragraphgenerator">
				<img src="img1.jpg" alt="Card Image">
				<h2>Paragraph Generator</h2>
				<p>Paragraph generator is your savior from writer's block. Get a paragraph written about any topic of your choice!</p>
				</div>
				<div class="card">
				<a href="/tool/blogideagenerator">
				<img src="img1.jpg" alt="Card Image">
				<h2>Blog Idea Generator</h2>
				<p>Not sure what to write about? Use the blog idea generator to come up with a highly searched topic!</p>
				</div>
				<div class="card">
				<a href="/tool/blogtitlegenerator">
				<img src="img1.jpg" alt="Card Image">
				<h2>Blog Title Generator</h2>
				<p>Instantly create 10 attractive titles for your blog post in seconds!</p>
				</div>
			</div>
		</div>
		<div class="borderContainer">
			<h2>Free Web Tools</h2>
			<p>Ensure your website and web safety are ready to go with these free website tools!</p>
			<div class="cardContainer">
				<div class="card">
				<a href="/tool/privacypolicygenerator">
				<img src="img1.jpg" alt="Card Image">
				<h2>Privacy Policy Generator</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="card">
				<a href="/tool/termsofservicegenerator">
				<img src="img1.jpg" alt="Card Image">
				<h2>Terms Of Service Generator</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="card">
				<a href="/tool/passwordgenerator">
				<img src="img1.jpg" alt="Card Image">
				<h2>Password Generator</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="card">
				<a href="/tool/passwordgenerator">
				<img src="img1.jpg" alt="Card Image">
				<h2>Meta Tag Generator</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="card">
				<a href="/tool/passwordstrengthchecker">
				<img src="img1.jpg" alt="Card Image">
				<h2>Password Strength Checker</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>

			</div>
		</div>
		<div class="borderContainer">
			<h2>Free YouTube Tools</h2>
			<p>Find out the secrets to YouTube success by using these free YouTube tools!</p>
			<div class="cardContainer">
				<div class="card">
				<a href="/tool/youtubetitlegenerator">
				<img src="img1.jpg" alt="Card Image">
				<h2>YouTube Title Generator</h2>
				<p>Grab the attention of viewers with a trendy and unique YouTube title.</p>
				</div>
				<div class="card">
				<a href="/tool/youtubesubtitlegenerator">
				<img src="img1.jpg" alt="Card Image">
				<h2>YouTube Subtitle Generator</h2>
				<p>Instantly generate subtitles for any YouTube video in seconds with this tool!</p>
				</div>
				<div class="card">
				<a href="/tool/youtubekeyword">
				<img src="img1.jpg" alt="Card Image">
				<h2>YouTube Keyword Tool</h2>
				<p>Find out what keywords are ranking high on YouTube for your next videos.</p>
				</div>
			</div>
		</div>
		<div class="borderContainer">
			<h2>Free Digital Marketing Tools</h2>
			<p>Make your marketing journey easier with our free digital marketing tools!</p>
			<div class="cardContainer">
				<div class="card">
				<a href="/tool/ighashtaggenerator">
				<img src="img1.jpg" alt="Card Image">
				<h2>Instagram Hashtag Generator</h2>
				<p>Trend on Instagram and gain followers with these smart hashtags.</p>
				</div>
				<div class="card">
				<a href="/tool/igcaptiongenerator">
				<img src="img1.jpg" alt="Card Image">
				<h2>Instagram Caption Generator</h2>
				<p>Create a personalized instagram caption with keywords to increase followers!</p>
				</div>

			</div>
		</div>

	</div>
  	
	<script src="/static/js/general.js"></script>
  	{% include "/components/footer.html.j2" %}
</body>
</html>