<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	{% include '/components/meta.html.j2' %}
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/generaltool.css">
	<style>
		.cardContainer {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
		}
		.card {
			max-width: 500px;
			text-align: center;
			margin-top: 15px;
			margin-right: 15px;
			margin-bottom: 15px;
			padding: 5px;
			border: 1px solid #ccc;
			border-radius: 5px;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
			transition: background-color 0.3s ease, box-shadow 0.3s ease;
			cursor: pointer;
		}
		.card:hover {
			background-color: #f1f1f1;
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
		}
		.card img {
			max-width: 60px;
			height: auto;
			border-radius: 5px;
		}
		.card h2 {
			margin-top: 2px;
			font-size: 20px;
			text-align: center;
		}
	</style>
</head>
<body>
	{% include '/components/header.html.j2' %}
	
    <div class="borderContainer bannerContainer">
        <h1>Tool Box</h1>
        <h3>The ultimate place for any and all tools here</h3>
    </div>
	<div class="container">
		<div class="borderContainer">
			<h2>SEO tools for your website</h2>
			<p>Improve your website's ranking and SEO strategies with our free SEO tools!</p>
			<div class="cardContainer">
				<div class="card">
					<img src="/static/img/write-document-svgrepo-com.svg" alt="Card Image">
					<h2>Card Title</h2>
				</div>
				<div class="card">
					<img src="/static/img/write-document-svgrepo-com.svg" alt="Card Image">
					<h2>Card Title</h2>
				</div>
				<div class="card">
					<img src="/static/img/write-document-svgrepo-com.svg" alt="Card Image">
					<h2>Card Title</h2>
				</div>
				<div class="card">
					<img src="/static/img/write-document-svgrepo-com.svg" alt="Card Image">
					<h2>Card Title</h2>
				</div>
				<div class="card">
					<img src="/static/img/write-document-svgrepo-com.svg" alt="Card Image">
					<h2>Card Title</h2>
				</div>
				<div class="card">
					<img src="/static/img/write-document-svgrepo-com.svg" alt="Card Image">
					<h2>Card Title</h2>
				</div>
				<div class="card">
					<img src="/static/img/write-document-svgrepo-com.svg" alt="Card Image">
					<h2>Card Title</h2>
				</div>
				<div class="card">
					<img src="/static/img/write-document-svgrepo-com.svg" alt="Card Image">
					<h2>Card Title</h2>
				</div>
				<div class="card">
					<img src="/static/img/write-document-svgrepo-com.svg" alt="Card Image">
					<h2>Card Title</h2>
				</div>
				<div class="card">
					<img src="/static/img/write-document-svgrepo-com.svg" alt="Card Image">
					<h2>Card Title</h2>
				</div>
			</div>
		</div>
	</div>
  	
  	{% include "/components/footer.html.j2" %}
</body>
</html>