<style>
header {
    background-color: var(--secondary);
    color: #666;
    margin-bottom: 70px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand a {
    color: var(--primary-text);
    font-size: 28px;
    text-decoration: none;
    padding-left: 120px;
}
.navbar-nav {
    display: flex;
    list-style: none;
}
.nav-item a {
    color: var(--primary-text);
    text-decoration: none;
    font-size: 17px;
    padding: 15px 40px;
    display: block;
    text-align: center;
}
.dropdown {
    background-color: var(--primary);
    position: absolute;
    z-index: 99;
    display: none;
}
.nav-item:hover .dropdown {
    display:block;
}
.dropdown.sidedocked {
    right: 0px;
}
.nav-item, .nav-subitem {
    display: block;
    white-space: nowrap;
    padding: 0;
}
.nav-item:hover, .nav-subitem:hover {
    background-color: var(--primary-focus);
}
</style>
<header>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/">Tool Box</a>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item"><a href="#">SEO Tools</a>
                <ul class="dropdown">
                    <li class="nav-subitem"><a href="#">Backlink Checker</a></li>
                    <li class="nav-subitem"><a href="#">Keyword Research</a></li>
                    <li class="nav-subitem"><a href="#">High CPC Keywords</a></li>
                    <li class="nav-subitem"><a href="#">Google Search Trend</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="#">Social Media</a>
                <ul class="dropdown">
                    <li class="nav-subitem"><a href="/tool/passwordgenerator">Password Generator</a></li>
                    <li class="nav-subitem"><a href="#">Youtube Title Generator</a></li>
                    <li class="nav-subitem"><a href="#">Instagram Hashtag Generator</a></li>
                    <li class="nav-subitem"><a href="#">Youtube Subtitle Generator</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="#">Website</a>
                <ul class="dropdown">
                    <li class="nav-subitem"><a href="#">Privacy Policy Generator</a></li>
                    <li class="nav-subitem"><a href="#">Terms of Service Generator</a></li>
                    <li class="nav-subitem"><a href="#">Color Scheme Generator</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="#">AI Writer</a>
                <ul class="dropdown sidedocked">
                    <li class="nav-subitem"><a href="#">Blog Outline Creator</a></li>
                    <li class="nav-subitem"><a href="#">Paraphraser</a></li>
                    <li class="nav-subitem"><a href="#">Plagiarism Checker</a></li>
                    <li class="nav-subitem"><a href="#">Blog Title Generator</a></li>
                    <li class="nav-subitem"><a href="#">Grammar Checker</a></li>
                    <li class="nav-subitem"><a href="#">Summarizer</a></li>
                    <li class="nav-subitem"><a href="#">Blog Writer</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>