<!-- These tags will go in every pages' head -->

<link rel="stylesheet" href="/static/css/global.css">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7804170717504884"
     crossorigin="anonymous"></script>
<meta property="og:title" content=Yellow Tools>
<meta name="title" content="Yellow Tools">
<meta property="og:site_name" content=Yellow Tools>
<meta property="og:url" content=https://yellowtools.org>
<meta property="og:description" content=Yellow Tools is your ultimate hub for free digital tools! From Instagram fancy fonts to the best tools for students, Yellow Tools offers a range of free online tools, including a free privacy policy generator, citation generator, and Terms of Service (ToS) generator.>
<meta name="description" content="Yellow Tools is your ultimate hub for free digital tools! From Instagram fancy fonts to the best tools for students, Yellow Tools offers a range of free online tools, including a free privacy policy generator, citation generator, and Terms of Service (ToS) generator.">
<meta property="og:type" content=website>
<meta name="keywords" content="digital tools, free word counter, meta tag generator, online tools, instagram fonts, citation generator, free tools">
<meta name="robots" content="index,follow">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="language" content="English">
