<!-- These tags will go in every pages' head -->

<link rel="stylesheet" href="/static/css/global.css">
<meta name="title" content="Yellow Tools">
<meta name="description" content="Free digital tools for everyday use including text tools, SEO tools and more.">
<meta name="keywords" content="digital tools, free word counter, meta tag generator, online tools, instagram fonts, citation generator, free tools">
<meta name="robots" content="index,follow">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="language" content="English">