<style>
.borderContainer {
    border-radius: var(--border-large);
    border: 2px solid var(--secondary-mark);
    max-width:1000px;
    margin: 20px min(10%, 120px);
    padding: 50px;
    background-color: var(--primary);
}
.borderContainer h2 {
    font-size: 30px;
}
.borderContainer p {
    font-size: 20px;
}

</style>
<div class="borderContainer">
    <h2>What are {{ pageTitle }}</h2>
    <p>hi there test!</p>
</div>